<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<header>
  <h1>My &#9825; Songs </h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="/"> &#9834; Página inicial</a></li>
      <li><a href="/criar"> &#9835; cadastrar </a></li>
      <li><a href=""></a></li>
    </ul>
    <div id="container">
                           </div>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
  <span></span>
  </label>
</header>

<body>

</body>
<script src="/public/js/script.js"> </script>

</html>