<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalhes.css">
    <title>Document</title>
</head>
<%- include('./partials/header.ejs') %> 
<body>
    <main>
        <div class="container-form">
        <form action="/criar" method="post">
             <legend> Criar </legend>

            <div class="box">
        <div class="inpux-box">
            <fieldset class="nome">
                <input type="text" name="banda" placeholder="Nome da banda ou artista" >
                <label for="banda"> </label>
            </fieldset>
        </div>

        <div class="inpux-box">
            <fieldset class="img">
                <input type="url" name="img" placeholder="link da imagem do álbum" > 
                <label for="img"> </label>
            </fieldset>
        </div>
            
        <div class="inpux-box">    
            <fieldset class="number">
                <input type="number" name="ano" placeholder="ano de lançamento">
                <label for="ano"> </label>
            </fieldset>
        </div>
          
        <div class="inpux-box">    
            <fieldset class="url">
                <input type="text" name="url" placeholder="iframe da música">
                <label for="url"> cole o iframe de sua música sem "" ou a tag</label>
            </fieldset>
        </div>

        <div class="inpux-box">
            <fieldset class="album">
                <input type="text" name="album" placeholder="Álbum" >
                <label for="album"> </label>
            </fieldset>
        </div>

        <div class="inpux-box">
            <fieldset class="creditos">
                <input type="text" name="creditos" placeholder="Banda e Gravadora">
                <label for="creditos"> </label>
            </fieldset>
        </div>

        <div class="inpux-box">
            <fieldset class="musicas">
                <input type="text" name="musicas" placeholder="Nome da música">
                <label for="musicas"> </label>
            </fieldset>
        </div>

    </div>
            <div class="button">
                <input type="submit" value="enviar">
            </div>
        </form>
    </main>
</body>
</html>

